
#home{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home h2 {
    font-size: 5rem;
    color: #fff;
  }
  #particles-js{
    position: absolute;
    background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;
    width: 100%;
    z-index: -999999;
    height: 50vh;
  } 
  img{
    width: 100%;
    height: auto;
  }
  #about_me{
    width: 100%;
    height: auto;
    background:#CAE7E5;
  }

  #container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    max-width: 1000px;
    width: 75%;
    margin: 0 auto;
    padding: 3rem;
  }
  
  .ab_title{
    font-size: 3rem;
    color: #ff7613;
  }
  .title{
    width: 30%;
    height: .3rem;
    border: none;
    background: #ff7613;
  }
  .profile_description{
    margin-top: 1rem;
    font-size: 1.7rem;
    text-align: justify;
  }